header {
  background-color: #00f;
}
* {
  font-family: sans-serif;
}
body {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-image: url("img/big.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1000px) {
  body {
    color: #fff;
  }
}
p {
  background-color: #f00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
@media (min-width: 1000px) {
  p {
    color: #f00;
    border: 1px solid #00f;
  }
}

@supports (-webkit-appearance:none){
body{background-image:url("img/big.webp")}
}

 @media (min-width: 1000px){

@supports (-webkit-appearance:none){

}

}
