doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE-edge')
        meta(name='viwport' content='width=device-width, initial-scale=1.0')
        link(href='main.css' rel='stylesheet')
        title Document
    body
        header
            include pug/header.pug 
        main
            include pug/home_page.pug
        footer
            include pug/footer.pug
        script(src='main.js')
