@import 'stylus/header'
*
    font-family sans-serif
body
    padding-top 5px
    padding-bottom 5px
    padding-right 5px
    padding-left 5px
    background-image url('img/big.jpg')
    background-repeat no-repeat
    background-size cover
    @media (min-width: 1000px)
        color white 
p
    background-color red
    display flex
    transition 300ms
    @media (min-width: 1000px)
        color red
        border 1px solid blue
